.Departments {
    .body {        
        .add_department {
            padding: 0 1em;
            margin: 0 0 1.5em;            

            form {
                display: grid;
                grid-template-columns: 3fr 1fr;                
                gap: 1em;                
                width: 100%;                

                button {
                    margin: 0;
                }
            }
        }
    }
}



@media screen and (width <= 900px) {
    .Departments {
        .body {
            display: grid;
            grid-template-columns: 1fr;
        }

        .add_department {
            order: -1;
        }
    }
}