.bg_orange{
    background: #e98e46;
    color: #e9ecef;
}
.bg_dark_cyan{
    background: #008b8b;
    color: #e9ecef;
}
.bg_purple{
    background: #9471d9;
    color: #e9ecef;
}

/*top_navbar*/
.top_nav{
    color: #efefef;
    position: sticky;
    top: 0;
    z-index: 10;
}
.app_name{
    font-size: 1.3rem;
    text-transform: uppercase;
}

/* side_bar */
.side_nav_bar{
    background: #343a40;
    height: 100%;
    padding-top: 10px;
    position: fixed;
    display:block;
    width: 14%;
}
.side_nav_bar .nav_links{
    list-style: none;
    padding-left: 6px;
}
.side_nav_bar a{
    text-decoration: none;
    color: #efefef;
    font-size: 1.1rem;
    display:block;
}
.side_nav_bar .nav_links .nav_items{
    width: 90%;
}
.side_nav_bar a:hover,
.side_nav_dropdown:hover{
    color: #adff2f;
}
.side_nav_bar .nav_links .nav_items,
.side_nav_dropdown{
    color: #efefef;
    padding-left: 4px;
    margin-top: 5px;
    border-bottom: 1px solid #efefef;
}
.side_nav_dropdown{
    text-decoration: none;
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
}
.side_nav_dropdown:focus{
    outline: none;
    border: none;
}
.active {
    color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.side_nav_dropdown_container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}


/*main_content*/
.main_content{
    width: 85%;
    margin-left: 14.3%;
}